.background-design {
  opacity: 0;
  animation: appear 0.5s forwards;
  height: 96vh;
  width: 96vh;
  background-color: teal;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.app-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
}
