.js-clock {
  opacity: 0;
  animation: appear 2s forwards;
  animation-delay: 0.3s;
  position: relative;
  display: flex;
  font-size: 64px;
}

.js-clock h2 {
  left: -7vh;
  bottom: 0;
  position: absolute;
  font-size: 20px;
}

.js-day {
  animation: appear 2s forwards;
  animation-delay: 0.6s;
  margin-top: 2vh;
  text-align: center;
  font-size: 25px;
  opacity: 0;
}
