@import "reset.css";
@import "effects.css";
@import "background.css";
@import "clock.css";
@import "nameAndGreet.css";

body {
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  display: flex;
}
